<p>Home page</p>

<% if current_user %>
  <p>Hi, <%= current_user.email %>!</p>
  <p>You have <%= current_user.role %> role.</p>
  
  <% if current_user.admin? %>
    <p>There are <%= User.count %> users.</p>
  <% end %>
  <%= button_to "Sign out!", destroy_user_session_path, method: :delete %>
<% else %>
  <p>You are not signed in.</p>
  <%= link_to "Sign Up!", new_user_registration_path %>
  <br>
  <%= link_to "Login", new_user_session_path %>
<% end %>
